# Database
MONGODB_URI=mongodb://localhost:27017/vehicle_rental

# JWT
JWT_SECRET=your_jwt_secret_key_here

# Email Configuration (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=info.barsrental@gmail.com
EMAIL_PASS=bars@1713830

# Server
PORT=5000
NODE_ENV=development

